.navbar-light .navbar-brand {

    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #34BE82;
    -webkit-text-stroke-width: 1.20px; 
    margin-left: 15px;
}

.navbar-light .navbar-brand:hover {

    font-weight: bolder;
    font-size: 38px;
    -webkit-text-fill-color: rgb(216, 216, 216);
    -webkit-text-stroke-color: #34BE82;
    -webkit-text-stroke-width: 1.2px; 
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    margin-left: 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(216, 216, 216);
    margin-left: 12px;
}

.navbar {
    background-color: #34BE82;
}

@media (min-width: 1300px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

