span(class="authentication")
  div(class="container" style="padding-top: 20px;")

    
    form.needs-validation#loginForm(novalidate= '' onsubmit="return false")
      .form-group
          label(for='username') Username
          input#username.form-control(name='username' placeholder='John' type='text' required ="")
          .invalid-feedback
              | Please insert an username.
          br
      .form-group
          label(for='password') Password
          input#password.form-control(name='password' placeholder='Password' type='password' required ="")
          .invalid-feedback
              | Please insert a password.
          br
      .container.centerContainer
          button.btn.btn-outline-success.formBtn(onclick="login()" type='submit') Login
          
    h6#authCheck.authCheck

    script(type='text/javascript', src='/phenoflow/javascripts/formValidation.js')
    script(type='text/javascript', src='/phenoflow/javascripts/login.js')
