extends layout 

block content
    .container 
        h2.pageTitle Data Set Generator 
        .container
            br
            p Welcome to the data set generator, on this page you will have the ability to generate easily a data set by only inserting the codes required for a specific phenotype workflow.
            hr
            br
            form.needs-validation#frm(novalidate='' onsubmit="return false")
                .form-group
                    p.warningP Please separate each code with a white space !! 
                    p Example : 2FG5.00 M260000 M261000 M261100 M261200
                    br
                    label(for='dataCodes') Codes related to the specific phenotype workflow
                    input#dataCodes.form-control(type='text' name='dataCodes' required ="") 
                    .invalid-feedback
                        | Please insert the codes. 
                br
                .form-group
                    label(for='numberOfPatients') Number of patients
                    select.custom-select#numberOfPatients.form-control
                        script.
                            //Inspired from 
                            //https://stackoverflow.com/questions/50497960/fill-a-dropdown-menu-from-1-to-100-using-javascript/50497973
                            var numberOfPatients = document.getElementById("numberOfPatients");
                            var numberOptions;
                            //contents += "<option disabled selected value> -- Please select an option -- </option>";
                            for (let i = 1; i <= 50; i++) {
                            numberOptions += "<option>" + i + "</option>";
                            }
                            numberOfPatients.innerHTML = numberOptions;
                    .invalid-feedback
                        | Please insert the patient codes.
                br
                .custom-control.custom-switch
                    input#advancedParamsSwitch.custom-control-input(type='checkbox'  data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                    label.custom-control-label(for='advancedParamsSwitch') Advanced parameters

                br
                #collapseExample.collapse
                    .card.card-body
                        | Please make sure to select the minimum and maximum ages and last encouter dates. The encouter dates must greater than the maximum age of the patients.
                        br
                        br
                        .form-group
                            label(for='maxNumberOfCodes') Select a maximum number of codes
                            select.custom-select#maxNumberOfCodes.form-control
                                script.
                                    //Inspired from 
                                    //https://stackoverflow.com/questions/50497960/fill-a-dropdown-menu-from-1-to-100-using-javascript/50497973
                                    var maxNumberOfCodes = document.getElementById("maxNumberOfCodes");
                                    var numberOptions2;
                                    //contents += "<option disabled selected value> -- Please select an option -- </option>";
                                    for (let i = 1; i <= 5; i++) {
                                    numberOptions2 += "<option>" + i + "</option>";
                                    }
                                    maxNumberOfCodes.innerHTML = numberOptions2;
                            .invalid-feedback
                                | Please choose a maximum number of codes.  
                        br
                        .form-group
                            label(for='minNumberOfCodes') Select a minimum number of codes
                            select.custom-select#minNumberOfCodes.form-control
                                script.
                                    //Inspired from 
                                    //https://stackoverflow.com/questions/50497960/fill-a-dropdown-menu-from-1-to-100-using-javascript/50497973
                                    var minNumberOfCodes = document.getElementById("minNumberOfCodes");
                                    var numberOptions3;
                                    //contents += "<option disabled selected value> -- Please select an option -- </option>";
                                    for (let i = 1; i <= 5; i++) {
                                    numberOptions3 += "<option>" + i + "</option>";
                                    }
                                    minNumberOfCodes.innerHTML = numberOptions3;
                            .invalid-feedback
                                | Please choose a minimum number of codes. 
                        br
                        .form-group
                            label(for='yBirthdate') Younget possible patient birthdate
                            input#yBirthdate.form-control(type='date' name='yBirthdate' required ="" )
                            .invalid-feedback
                                | Please insert the youngest possible patient birthdate
                        br
                        .form-group
                            label(for='oBirthDate') Oldest possible patient birthdate
                            input#oBirthdate.form-control(type='date' name='oBirthDate' required ="" )
                            .invalid-feedback
                                | Please insert the oldest possible patient birthdate
                        br
                        .form-group
                            label(for='latestEncDate') Latest encouter date
                            input#latestEncDate.form-control(type='date' name='latestEncDate' required ="" )
                            .invalid-feedback
                                | Please insert the latest encouter date.
                        br
                        br

                br
                .container.centerContainer
                    button(onclick='fillTable()').btn.btn-outline-success.formBtn(type='submit') Try it !
        

            .container.centerContainer
                br
                h5#errorMessage.errorMessage
                button#btnExportToCsv.btn.btn-outline-success(type='button' class = "exporterButton") Export to CSV

            br     
            br  
            table#dataTable.table


            //This code was taken from Dcode
            //Links: https://www.youtube.com/watch?v=cpHCv3gbPuk&list=WL&index=1&t=1407s
            //https://codepen.io/dcode-software/pen/WBGOyd
            script.
                const dataTable = document.getElementById("dataTable");
                const btnExportToCsv = document.getElementById("btnExportToCsv");
                btnExportToCsv.addEventListener("click", () => {
                const exporter = new TableCSVExporter(dataTable);
                const csvOutput = exporter.convertToCSV();
                const csvBlob = new Blob([csvOutput], { type: "text/csv" });
                const blobUrl = URL.createObjectURL(csvBlob);
                const anchorElement = document.createElement("a");
                anchorElement.href = blobUrl;
                anchorElement.download = "replaceMe.csv";
                anchorElement.click();
                setTimeout(() => {
                URL.revokeObjectURL(blobUrl);
                }, 500);
                });

        br
        br
        br

    script(type='text/javascript', src='/phenoflow/javascripts/TableCSVExporter.js')
    script(type='text/javascript', src='/phenoflow/javascripts/formValidation.js')
    script(type='text/javascript', src='/phenoflow/javascripts/fillTable.js')

