extends layout 

block content

    .container 
        h2.pageTitle Forum
        br
        h3 Add a post
        hr
        br
        .container.formContainer
            h5 Add a new post by clicking on the button below
            button.btn.btn-outline-success(type='button' data-toggle='modal' data-target='#postModal').modalBtn
                | NEW POST
            // Modal
            #postModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='postModalTitle' aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLongTitle.modal-title Add a post
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') x
                        .modal-body
                            form.needs-validation#frm(method = "POST" action = "forum" novalidate='')
                                .form-group
                                    label(for='formControlInput1') Post title
                                    br
                                    input#formControlInput1.form-control(type='text' placeholder='Title' name = "title" required ="")
                                    .invalid-feedback
                                        | Please insert a title.
                                    br
                                .form-group
                                    label(for='formControlInput2') Your name
                                    br
                                    input#formControlInput2.form-control(type='text' placeholder='John Smith' name = "author" required ="")
                                    .invalid-feedback
                                        | Please insert your name.
                                    br

                                .form-group
                                    label(for='formControlTextarea1') Post content
                                    textarea#formControlTextarea1.form-control(type = 'text' rows='3' placeholder="Insert your post content here..." name = "question" required ="")
                                    .invalid-feedback
                                        | Please insert your post content.
                                    br

                                .container.formContainer
                                    button.btn.btn-outline-success.formBtn(type='submit') Submit



        br
        br
        h3 Existing posts
        hr
        br
        br
        label Search a specific post
        br
        br
        .container.formContainer
            form.needs-validation#frm(action = "/phenoflow/forum" novalidate='')
                .input-group
                    input#formControlInput1.form-control(type='text' placeholder='Post title, description or author ...' name = "searchInput" required ="").searchBarInput
                    button.btn.btn-outline-success.searchBTN(type='submit').searchBarBtn Search
                    .invalid-feedback
                        | Please insert something.
        br
        if(typeof searchInput != "undefined")
            .container.formContainer
                a.btn.btn-outline-success.searchBTN(href= "/phenoflow/forum") Cancel Search

        br
        br
        #post
            if(post.length == 0)
                container.formContainer
                    h6 No post matching your search description ! 
        br
        .row.justify-content-center
            each p in post 
                .col-6
                    .card.postCardStyle
                        .card-body
                            h5.card-title.cut-text #{p.title}
                            h6.card-subtitle.mb-2.text-muted.cut-text by #{p.author}
                            p.card-text.cut-text #{p.question}
                            a.card-link(href= '/phenoflow/forum/post/' + p.id ).cut-text View post 
                            a(onClick = "deletePost(" + p.id + ")" class = "deletePost restricted").deletePostBtn
                                svg.bi.bi-trash3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                                    path(d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z')

        br

        script(type='text/javascript', src='/phenoflow/javascripts/deletePost.js')
        script(type='text/javascript', src='/phenoflow/javascripts/formValidation.js')

        

    