extends layout 

block content
    .container 
        h2.pageTitle Help
        br
        hr
        h5 Do you have issues setting-up phenoflow on your computer ? You can find instructions on how to use phenoflow in the page bellow:
        a(href= "/phenoflow/setUp").aHelpPage &rarr;  Set Up Page
        br
        hr
        h5 Have a question about the Phenoflow application ? You can ask everything you want in this page and our team will try to answer you as soon as possible !
        a(href= "/phenoflow/contactUs").aHelpPage &rarr;  Contact Us Page
        br
        hr
        h5 Do you want to know more about Phenoflow and its logic ? 
        a(href= "/phenoflow/contactUs").aHelpPage &rarr;  Info page
        br
        hr