extends layout

block pageJS
  script.
    function postLogin() {
      for(let workflow of document.getElementsByClassName("workflow")) workflow.style.display="none";
      for(let userContent of document.getElementsByClassName(localStorage.getItem("user"))) userContent.style.display="inherit";
    }

block content

  br
  .container.centerContainer
    h5(class = "authentication") You have been logout, you will have to login again to use this functionality !
  span(class="restricted")
    br
    br
    container.centerContainer
      h5 Phenotype definitions having multiple connectors or branches will appear multiple times; please select the desired implementation by viewing it first before proceeding to the edition.
    br
    include list.pug
